.box-overview {
  background-image: url("./img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#display-temp {
  min-width: 2.5rem;
}

.card {
  min-width: 6rem;
  max-width: 6rem;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    min-height: 100vh;
    max-height: 100vh;
  }
}
